body{
    text-align: center;
}
.page {
    padding: 0; margin: 0;
    display: inline-block;
    width: 400px;
    height: 100%;
    background-color: none;
    margin-left: -10px;
        .range{
            background-color: none;
            width: 10px; height: 100px;
        }
        li{
            margin: 0;
            list-style-type: none;
            width: 380px; height: 400px;
            border: 3px solid lightgray;
            border-radius: 3%;
            background-color: white;
            padding: 10px;
            margin-bottom: 10px;
            text-align: left;
                .space{
                    padding: 3px;
                    width: 345px; height: 29px;
                    border-bottom: 3px solid lightgray;
                    float: left;
                }
                .dot{
                    padding: 0; margin: 0;
                    float: left;
                    width: 9px; height: 27px;
                    margin-right: 4px; margin-top: 5px; margin-left: 10px; margin-bottom: 6px;
                    cursor: pointer;
                    background-image: url('../common/img/dot.png');
                }
                .textbox{
                    padding: 10px;
                    width: 355px; height: 330px;
                    margin-top: 5px;
                    border: 3px solid lightgray;
                    border-radius: 5%;
                    float: left;
                }
        }
}